VITE_SUPABASE_URL=https://lvbsamcztoqkvbcneakn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2YnNhbWN6dG9xa3ZiY25lYWtuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1OTkzNjAsImV4cCI6MjEwMDE3NTM2MH0.hXkp_ru02-bE7EbiV8ituXFh9C6auVhbj26AM4v_SG0